<footer class="footer mt-auto py-3 bg-light">
    <div class="container pt-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Возможности сервиса</h2>
        <div class="row g-5 py-5">
            <div class="col-md-4 d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <i class="fab fa-slideshare fa-5x"></i>
                </div>
                <div>
                    <h2>Делиться</h2>
                    <p>С помощью системы "автор - подписчики" можно находить различные полезные подборки по словам и фразам от других пользователей.</p>
                    <a class="btn btn-dark" href="/sub">Подписки</a>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <i class="fas fa-graduation-cap fa-5x"></i>
                </div>
                <div>
                    <h2>Запоминать</h2>
                    <p>Благодаря возможности двухрежимной проверки слова (слово и его переводы) можно эффективно запоминать введенные слова и фразы.</p>
                    <a class="btn btn-dark" href="/words">Мои слова</a>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <i class="fas fa-layer-group fa-5x"></i>
                </div>
                <div>
                    <h2>Группировать</h2>
                    <p>Чтобы удобно находить слова и фразы можно создавать собственные группы и делиться ими с другими пользователями регулируя настройки приватности.</p>
                    <a class="btn btn-dark" href="/groups">Мои группы</a>
                </div>
            </div>
        </div>
    </div>
</footer>