.mt-6 {
    margin-top: 3.5em !important;
}

.mt-7 {
    margin-top: 5em !important;
}

.mt-8 {
    margin-top: 8em !important;
}

.mt-10 {
    margin-top: 10em !important;
}

.mb-10 {
    margin-bottom: 10em !important;
}

.btn-circle {
    border-radius: 50%;
    width: 40px;
}