<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" class="h-100">
<head th:replace="fragments/head/common :: head(title='Группа',extra=true)">

</head>
<body class="d-flex flex-column h-100">
<header th:insert="fragments/header :: nav"></header>

<main class="flex-shrink-0">
    <div class="container mt-7 mb-4">

        <div class="row">
            <div class="col me-auto">
                <button class="btn btn-dark mb-3" type="button" data-toggle="collapse" data-target="#addNewWord"
                        aria-expanded="false" aria-controls="addNewWord">
                    Добавить слово
                </button>
            </div>
            <div class="col-auto">
                <!--    режимы-->
                <div th:replace="fragments/switch :: switch(url=@{/groups/{id}(id=${group.id})})"></div>
            </div>
        </div>

        <!--    добавление слова-->
        <div th:replace="fragments/words/add-word"></div>

        <div class="text-center mb-4">
            <h1 class="text-center" th:text="${group.nameGroup}"></h1>
            <p class="lead" th:if="${group.description}" th:text="${group.description}"></p>

            <div>
                <span class="badge bg-warning text-dark" style="margin-right: 10px">[[${group.language}]]</span>
                <span style="color: red;"
                      th:if="${group.privacy}==${T(com.learnwords.webapp.models.Privacy).PRIVATE}">
                     <i class="fas fa-lock fa-lg"></i>
                </span>
                <span style="color: green;"
                      th:if="${group.privacy}==${T(com.learnwords.webapp.models.Privacy).PUBLIC}">
                      <i class="fas fa-lock-open fa-lg"></i>
                </span>
            </div>

        </div>

        <!--поиск-->
        <div class="mb-4">
            <form class="row g-3 justify-content-center" method="get" th:action="@{/groups/{id}(id=${group.id})}">
                <input hidden name="switch" th:value="${isWords}">
                <div class="col-md-3">
                    <input type="search" class="form-control" placeholder="Поиск" name="search"
                           th:value="${search}">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-warning">Искать</button>
                </div>

            </form>
        </div>
        <!--поиск-->

        <!--    карточка с переводами-->
        <div th:unless="${isWords}">
            <div th:replace="fragments/words/card/card-translation :: card(words=${words})"></div>
        </div>
        <!--    карточка с переводами-->

        <!--карточка со словами-->
        <div th:if="${isWords}">
            <div th:replace="fragments/words/card/card-word :: card(words=${words})"></div>
        </div>
        <!--карточка со словами-->

        <div th:if="${search}">
            <div th:replace="fragments/pager :: pager (page=${words}, url = @{/groups/{id}(id=${group.id},switch=${isWords},search=${search})})"></div>
        </div>
        <div th:unless="${search}">
            <div th:replace="fragments/pager :: pager (page=${words}, url = @{/groups/{id}(id=${group.id},switch=${isWords})})"></div>
        </div>


    </div>
</main>

<footer th:replace="fragments/simple-footer"></footer>

<!-- Валидация слова и группы в форме добавления слова -->
<script th:replace="fragments/words/validation/add-word-form"></script>

<script type="text/javascript" src="/static/js/switch.js"></script>

<script type="text/javascript" src="/static/js/select.js"></script>

<script type="text/javascript" src="/static/js/activate-window.js"></script>
</body>
</html>