<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head/common :: head(title='Learning Words')">

</head>
<body class="d-flex flex-column h-100">
<header th:insert="fragments/header"></header>


<main class="flex-shrink-0">
    <div class="container mt-10 mb-10">
        <div class="bg-dark text-secondary px-4 py-5 text-center" style="border-radius: 20px">
            <div class="py-5">
                <h1 class="display-5 fw-bold text-white">Learning words</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="fs-5 mb-4">Это сервис, который поможет вам запомнить слова и фразы иностранного языка.
                        Вы можете группировать слова сами, выбирая подходящее название для подборки, а также подписываться на чужие группы со словами.</p>
                    <div class="d-grid d-sm-flex justify-content-sm-center">
                        <a sec:authorize="hasAuthority('USER')" th:href="@{/words}"
                           class="btn btn-outline-info btn-lg px-4 fw-bold">
                            Мои слова
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer th:replace="fragments/footer"></footer>

</body>
</html>