<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" class="h-100">
<head th:replace="fragments/head/common :: head(title='Подписки')">

</head>
<body class="d-flex flex-column h-100">
<header th:insert="fragments/header :: nav"></header>
<main class="flex-shrink-0">
    <div class="container mt-7 mb-4">

        <div class="mb-4">
            <h1 class="text-center">Подписки</h1>
        </div>

        <!--    поиск группы-->
        <div th:replace="fragments/groups/search-group :: search(url=@{/sub})"></div>

        <!--    карточка с группой-->
        <div th:replace="fragments/groups/card/card-group :: card(url=@{/sub/{id}})"></div>

        <div th:if="${search}">
            <div th:replace="fragments/pager :: pager (page=${groups}, url = @{/sub(search=${search})})"></div>
        </div>
        <div th:unless="${search}">
            <div th:replace="fragments/pager :: pager (page=${groups}, url = @{/sub})"></div>
        </div>


    </div>
</main>

<footer th:replace="fragments/simple-footer"></footer>

</body>
</html>