<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" class="h-100">
<head th:replace="fragments/head/common :: head (title='Настройки')"></head>
<body class="d-flex flex-column h-100" style="background-color: #212529">
<header th:insert="fragments/header :: nav"></header>
<main class="flex-shrink-0">
    <div class="container mt-7 mb-4 text-white bg-dark">

        <form th:method="PUT" th:action="@{/settings}" th:object="${user}" enctype="multipart/form-data">

            <!--    Ава-->
            <div class="card-container">
                <div class="card text-center mx-auto" style="width: 18rem;">
                    <img th:src="@{/img/{file}(file=${user.avatar})}"
                         class="card-img-top" alt="Изображения нет">
                </div>
                <div class="card-body row justify-content-center">
                    <div class="col-auto">
                        <input class="form-control" type="file" name="file">
                    </div>

                </div>
            </div>
            <!--    Ава-->

            <p class="text-center" th:if="${notUniqueUser}" th:inline="text" style="color: red">
                [[${notUniqueUser}]]</p>

            <input hidden class="form-control" type="text" name="avatar" th:field="*{avatar}">

            <div class="row justify-content-center">
                <div class="col-sm-5 mb-3">
                    <label class="form-label" for="username">Имя пользователя: </label>
                    <input class="form-control" type="text" id="username" required th:field="*{username}">
                    <p class="text-center mt-2" style="color: red" th:if="${#fields.hasErrors('username')}"
                       th:errors="*{username}"></p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-5 mb-3">
                    <label class="form-label" for="email">Email: </label>
                    <input class="form-control" type="email" id="email" required th:field="*{email}">
                    <p class="text-center mt-2" style="color: red" th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}"></p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-5 mb-3">
                    <label class="form-label" for="password">Новый пароль: </label>
                    <input class="form-control"
                           type="password"
                           id="password"
                           th:field="*{password}"
                           pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                           placeholder="минимум: 8 символов, 1 буква, 1 цифра">
                    <p class="text-center mt-2" style="color: red" th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}"></p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-5 mb-3">
                    <label class="form-label" for="passwordConfirm">Подтверждение нового пароля: </label>
                    <input class="form-control" type="password" id="passwordConfirm" th:field="*{password2}">
                    <p class="text-center mt-2" style="color: red" th:if="${#fields.hasErrors('password2')}"
                       th:errors="*{password2}"></p>
                </div>
            </div>
            <p class="text-center mt-2" th:if="${passwordNotEquals}" th:inline="text" style="color: red">
                [[${passwordNotEquals}]]</p>

            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-light" type="submit">Сохранить изменения</button>
                </div>
            </div>
        </form>

    </div>
</main>

<footer th:replace="fragments/simple-footer :: footer(dark='bg-dark')"></footer>

</body>
</html>
<style>
    .card-img-top {
        height: 15rem;
        object-fit: cover;
    }
</style>